@font-face {
  font-family: G-Roboto-n3;
  src: url('../data/fonts.gstatic.com_s_roboto_v18_KFOlCnqEu92Fr1MmSU5vAw.ttf');
}
@font-face {
  font-family: G-Roboto-n5;
  src: url('../data/fonts.gstatic.com_s_roboto_v18_KFOlCnqEu92Fr1MmEU9vAw.ttf');
}
@font-face {
  font-family: "G-Work Sans-n4";
  src: url('../data/fonts.gstatic.com_s_worksans_v3_QGYsz_wNahGAdqQ43RhPew.ttf');
}
@font-face {
  font-family: "G-Work Sans-n3";
  src: url('../data/fonts.gstatic.com_s_worksans_v3_QGYpz_wNahGAdqQ43Rh314LMnw.ttf');
}